body{
    font-family: montserrat;
    background: #e7e7e7e7;
    height: 100vh;
}

.box{
    text-align: center;
}

.buttonn{
    font-size: 1em;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #403e3d;
    border-radius: 50px;
}
 
.overplay{
    position:fixed;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    background:  rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overplayfl{
    position:fixed;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    background:  rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    z-index: 6000;
}

.overplayVCB{
    position:fixed;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    background:  rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 6000;
}

.overplay:target{
    visibility: visible;
    opacity: 1;
}

.overplayfl:target{
    visibility: hidden;
    opacity: 0;
}

.overplayVCB:target{
    visibility: visible;
    opacity: 1;
}

.UD_overplay{
    position:fixed;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    background:  rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UD_overplay:target{
    visibility: visible;
    opacity: 1;
}


.wrapper{
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.wrapperPP{
    width: 1000px;
    height: 500px;
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.wrapperfl{
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.wrapper h2{
    margin-top: 0;
    color: #333;
}

.wrapper .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.wrapperfl .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.wrapper .content{
    max-height: 30%;
    overflow: auto;
    padding: 20px;
}

.wrapperrr{
    margin: 10px auto;
    padding: 20px;
    background: #e7e7e7e7;
    border-radius: 5px;
    width: 28%;
    position: relative;
    transition: all 5s ease-in-out;
}


.wrapperVCB{
    margin: 10px auto;
    padding: 20px;
    background: #3CD371;
    border-radius: 5px;
    width: 28%;
    position: relative;
    transition: all 5s ease-in-out;
}

.wrapperrr h2{
    margin-top: 0;
    color: #333;
}

.wrapperrr .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.wrapperVCB .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.wrapperrr .content{
    max-height: 30%;
    overflow: auto;
}

.nv_wrapper{
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7e7;
    border-radius: 5px;
    width: 550px;
    height: 600px;
    position: relative;
    transition: all 5s ease-in-out;
}

.UD_Add_Product{
    height: 500px;
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7e7;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.nv_wrapper h2{
    margin-top: 0;
    color: #333;
}

.nv_wrapper .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.nv_wrapper .content{
    max-height: 30%;
}

.UD_Add_Product h2{
    margin-top: 0;
    color: #333;
}

.UD_Add_Product .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.UD_Add_Product .content{
    max-height: 30%;
    overflow: auto;
}

.containerr{
    border-radius: 5px;
    background-color: #e7e7e7e7;
    padding: 20px 0;
}


.nv_container{
    border-radius: 5px;
    /* background-color: #e7e7e7e7; */
    padding: 20px 0;
}

form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border:  1px solid #ccc;
    border-radius:  5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.containerr{
    width: 95%;
    overflow: hidden;
    background: rgb(217, 221, 223);
    margin: 20px auto;
    padding: 20px 0px;
}

.containerr ul{
    padding: 0px;
    margin: 0px;
}

.containerr ul li{
    list-style: none;
    float: left;
    width: 20%;
    height: 300px;
    background: red;
    margin: 40px 30px 0px 20px;
    box-sizing: border-box;
    border: 2px solid white;
}

.containerr ul li:hover{
    opacity: 0.9;
}

.containerr ul li .title:hover{
    background: blue;
    color: white;
}

.containerr ul li .title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: white;
    text-align: center;
}

.tab-edit {
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1250px){
    .containerr ul li{
        width: 40%;
        margin-left: 50px;
    }
}


/* Responsive Mobile */
@media screen and (max-width: 800px){
    .containerr{
        width: 100%;
        padding: 0px;
    }
    
    .containerr ul li{
        float: none;
        width: 90%;
        margin: 40px auto;
    }

    .overplay {
        flex-direction: column;
    }

    .wrapper {
        width: 80%;
    }

    .wrapperrr {
        width: 80%;
    }

    .wrapperVCB {
        width: 80%;
    }

    .wrapperTK {
        width: 45%;
    }

    .UD_Add_Product{
        width: 80%;
    }

    .column-layout{
        display: flex;
    }

    .column-item{
        width: 50%;
    }


}

@media screen and (max-width: 900px){
    .containerr{
        width: 100%;
        padding: 0px;
    }
    
    .containerr ul li{
        float: none;
        width: 90%;
        margin: 40px auto;
    }
}

/* Lịch */

.lbl_validate {
    color: red;
    visibility: hidden;
    font-style: italic;
    font-size: 15px;
}

.pro_img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.column-layout {
    margin-top: 0px;
    padding: 12px 0;
    background-color: #fff;
}

.column-item{
    width: 100%;
    padding: 10px 10px;
}

.btn-submit{
    width: 100%;
}

#tab-1 .nv_container {
    max-height: 300px;
    max-width: 100%;
    overflow-y: auto; /* Thêm thanh cuộn dọc khi nội dung vượt quá chiều cao */
}

.form-edit-nhan-vien {
    max-width: 100%;
    overflow-x: hidden;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }