<style>
  .footer-class {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #111;
  }

  .footerContainer {
    width: 100%;
    padding: 10px;
  }

  .socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }

  .socialIcons a i {
    font-size: 1em;
    color: black;
    opacity: 0.9;
  }

  /* Hover Effects on Social Icons */
  .socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
  }

  .socialIcons a:hover i {
    color: white;
    transition: 0.5s;
  }

  .footerNav {
    margin: 5px 0;
  }

  .footerNav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
  }

  .footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 0.8em;
    opacity: 0.7;
    transition: 0.5s;
  }

  .footerNav ul li a:hover {
    opacity: 1;
  }

  .footerBottom {
    background-color: #000;
    padding: 10px;
    text-align: center;
  }

  .footerBottom p {
    color: white;
    margin-bottom: 0px !important;
  }

  @media screen and (max-width: 761px) {
    .footer-class {
      display: none;
    }
  }
</style>

<!-- partials/footer.ejs -->
<!-- <footer class="footer-class bg-danger text-center text-white mb-0"> -->
<footer class="footer-class">
  <div class="footerContainer">
    <div class="socialIcons">
      <a href=""><i class="bx bxl-facebook-circle"></i></a>
      <a href=""><i class="bx bxl-instagram"></i></a>
      <a href=""><i class="bx bxl-twitter"></i></a>
      <a href=""><i class="bx bxl-google-plus"></i></a>
      <a href=""><i class="bx bxl-youtube"></i></a>
    </div>
    <div class="footerNav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">News</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Our Team</a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="footerBottom">
    <p>Copyright &copy; 2025; Designed by <span>5tan</span></p>
  </div> -->
</footer>
