<style>
  body {
    margin: 0 !important;
  }

  .container-thong-bao {
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* margin-top: 70px; */
  }

  .container-notification {
    width: 80%;
    background-color: #f3f3f3;
    margin-top: 70px;
  }

  .notifications {
    width: calc(100% - 10px);
    height: 80px;
    border: 2px solid #4cd137;
    border-radius: 5px;
    margin: 5px auto;
  }

  .noti_title {
    display: flex;
    align-items: center;
    /* justify-content: space-between;
    padding: 5px; */
    gap: 8px;
    white-space: nowrap;
    overflow: hidden;
  }

  .noti_title p {
    /* font-style: italic;
    margin-bottom: 0px !important; */

    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .noti_time {
    font-style: italic;
    width: 80px !important;
    /* background-color: aqua; */
    padding: 5px;
    border-right: 2px solid rgb(202, 194, 194);
  }

  .noti_type {
    height: 35px;
    padding: 5px 10px 6px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
  }

  .noti_content {
    /* padding: 5px; */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Giới hạn tối đa 3 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 35px; /* Tùy chỉnh theo font-size */
    white-space: normal;
  }

  #modalThongBaoTime {
    margin-bottom: 0 !important;
  }

  .modal-header-custom {
    background-color: #e55039;
  }

  .div-create {
    bottom: 115px;
    width: 100%;
    height: 50px;
    /* background-color: #e55039; */
  }

  .btn-add-notification {
    right: 10px;
    width: 85px;
    background-color: #ee5253;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid red;
    padding: 2px 5px 2px 5px;
  }

  .btn-add-notification i {
    font-size: 30px;
  }

  @media screen and (max-width: 767px) {
    .div-create {
      bottom: 65px;
    }
  }
</style>

<div class="container-thong-bao">
  <div class="container-notification position-relative">
    <h3 class="text-center mt-3 fw-bold">Danh Sách Thông Báo</h3>
    <br />

    <% if(noti.length > 0){ %> <% for(var i = 0; i < noti.length; i++){ %>
    <div
      class="notifications"
      data-bs-toggle="modal"
      data-bs-target="#modalThongBao"
      data-noti-id="<%- noti[i].id %>"
    >
      <div class="noti_title">
        <p>
          <span class="noti_time"
            ><%= new Date(noti[i].createdAt).toLocaleDateString("vi-VN")
            %></span
          >
          <%- noti[i].title %>
        </p>
        <% if(noti[i].type == 1){ %>
        <div class="noti_type bg-danger">Nhắc nhở</div>
        <% }else { %>
        <div class="noti_type bg-success">Thông báo</div>
        <% } %>
      </div>

      <div class="noti_content"><%- noti[i].content %></div>
    </div>
    <% } %> <% } %>

    <div class="position-absolute div-create d-flex align-items-center">
      <button
        type="button"
        class="btn-add-notification position-absolute d-flex align-items-center justify-content-center"
        data-bs-toggle="modal"
        data-bs-target="#addNotification"
      >
        <span>Thêm </span><i class="bx bxs-message-square-add"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal xem chi tiết -->
<div
  class="modal fade"
  id="modalThongBao"
  tabindex="-1"
  aria-labelledby="modalThongBaoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <h5 class="modal-title fw-bold" id="modalThongBaoLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fw-bold fs-6" id="modalThongBaoTime"></p>
        <form action="" id="formThongBao">
          <textarea name="" id="modalThongBaoContent" rows="10"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary w-100"
          data-bs-dismiss="modal"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal thêm thông báo -->
<div
  class="modal fade"
  id="addNotification"
  tabindex="-1"
  aria-labelledby="addNotificationLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNotificationLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function fillData(idForm, data) {
    const form = document.getElementById(idForm);
    if (!form) {
      console.log("Không tìm thấy form");
      return;
    }

    Object.keys(data).forEach((key) => {
      let input = form.querySelector(`[name="${key}"]`);

      if (input) {
        if (input.type === "checkbox") {
          input.checked = data[key] ? true : false;
        } else if (input.type === "radio") {
          let radio = form.querySelector(
            `[name="${key}"][value="${data[key]}"]`
          );
          if (radio) radio.checked = true;
        } else {
          input.value = data[key];
        }
      }
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".notifications").forEach(function (div) {
      div.addEventListener("click", function () {
        let notiId = this.getAttribute("data-noti-id");
        console.log("Id thông báo: ", notiId);

        $.ajax({
          url: "/thong-bao-chi-tiet/" + notiId,
          type: "GET",
          success: function (response) {
            data = response.notification;
            console.log(data);

            $("#modalThongBaoLabel").text(data.title);
            $("#modalThongBaoContent").text(data.content);

            var dateFormat = new Date(data.createdAt)
              .toLocaleString("vi-VN")
              .split(" ");
            var date = dateFormat[1];
            var time = dateFormat[0];
            $("#modalThongBaoTime").text(date + " | " + time);

            if (data.type == 1) {
              $(".modal-header-custom").css({
                "background-color": "#e55039",
              });
            } else if (data.type == 2) {
              $(".modal-header-custom").css({
                "background-color": "#6ab04c",
              });
            }
            $("#modalThongBaoLabel").css({
              color: "white",
            });
          },
          error: function () {
            console.log("Lỗi rồi!");
          },
        });
      });
    });
  });
</script>
