<style>
  .container-thong-bao {
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 70px;
  }

  .container-notification {
    width: 80%;
    background-color: #f3f3f3;
  }

  .notifications {
    width: calc(100% - 10px);
    height: 80px;
    border: 2px solid #4cd137;
    border-radius: 5px;
    margin: 5px auto;
  }

  .noti_title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .noti_title p {
    font-style: italic;
    margin-bottom: 0px !important;
  }

  .noti_time {
    font-style: italic;
    max-width: 40px !important;
    /* background-color: aqua; */
    padding: 5px;
    border-right: 2px solid rgb(202, 194, 194);
  }

  .noti_type {
    height: 30px;
    padding: 5px 10px 6px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
  }

  .noti_content {
    padding: 5px;
  }
</style>

<div class="container-thong-bao">
  <div class="container-notification">
    <h3 class="text-center mt-3 fw-bold">Danh Sách Thông Báo</h3>
    <br />

    <% if(noti.length > 0){ %> <% for(var i = 0; i < noti.length; i++){ %>
    <div class="notifications">
      <div class="noti_title">
        <p>
          <span class="noti_time"
            ><%= new Date(noti[i].createdAt).toLocaleDateString("vi-VN")
            %></span
          >
          <%- noti[i].title %>
        </p>
        <% if(noti[i].type == 1){ %>
        <div class="noti_type bg-danger">Nhắc nhở</div>
        <% }else { %>
        <div class="noti_type bg-success">Thông báo</div>
        <% } %>
      </div>

      <div class="noti_content"><%- noti[i].content %></div>
    </div>
    <% } %> <% } %>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {});
</script>
