<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa sản phẩm</title>

</head>
<body>
    <div data-role="page">
        <div data-role="header" data-theme="b">
            <h1>_5Tan</h1>
        </div>

        <div data-role="main" class="ui-content">
            <a href="#menu" class="ui-btn ui-btn-inline">...</a>

            <h2 class="text-center">Chỉnh sửa sản phẩm</h4>
                <br>
            <div class="container" data-inset="true">
                <form action="/suasanpham" method="post" class="row g-3">
                    <label for="text-basic">ID sản phẩm</label>
                    <input readonly class="form-control" type="text" name="pro_id" value="<%= test[0].pro_id %>" hidden>
                    
                    <label for="text-basic">Tên sản phẩm</label>
                    <input class="form-control" type="text" placeholder="Tên sản phẩm" name="pro_name" value="<%= test[0].pro_name %>">
                    
                    <label for="text-basic">Giá</label>
                    <input class="form-control" type="text" placeholder="Giá" name="pro_price" value="<%= test[0].pro_price %>">
                    
                    <label for="text-basic">Mô tả</label>
                    <input class="form-control" type="text" placeholder="Mô tả" name="pro_description" value="<%= test[0].pro_description %>">
                    <input data-theme="b" class="form-control" type="submit" value="Submit">
                    
                </form>

                <a href="/sanpham" data-transition="slidefade" class="ui-btn">Trở về</a>
            </div>
        </div>

        <div data-role="footer" data-theme="b" data-position="fixed">
            <h4>Uống là mê</h4>
        </div>

        <div data-role="panel" id="menu" data-display="overplay" data-position="left">
            <ul data-role="listview" data-inset="true">
                <li data-icon="home"><a href="/ban" data-transition="pop">Bàn</a></li>
                <li data-icon="grid"><a href="/sanpham" data-transition="pop">Sản phẩm</a></li>
                <li data-icon="video"><a href="#page2" data-transition="pop">Videos</a></li>
                <li data-icon="audio"><a href="#page3" data-transition="flip">Audio</a></li>
                <li data-icon="gear"><a href="#">Setting</a></li>
            </ul>
        </div>

    </div>


    
</body>
</html>