<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm sản phẩm</title>

    <!-- Jquery Mobile -->
    <!-- <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

</head>
<body>

    <div data-role="page">
        <div data-role="header" data-theme="b">
            <h1>_5tan</h1>
        </div>

        <div data-role="main" class="ui-content">
            <a href="#menu" class="ui-btn ui-btn-inline">...</a>

            <h3 class="text-center">Thêm sản phẩm</h3>
            <div class="container">
                <form action="/themsanpham" method="post">
                    <input type="text" placeholder="Tên sản phẩm" name="pro_name">
                    <input type="text" placeholder="Giá" name="pro_price">
                    <input type="text" placeholder="Mô tả" name="pro_description">
                    <input type="submit" value="Submit" data-theme="b">
                </form>

                <a href="/sanpham" data-transition="slidefade" class="ui-btn">Trở về</a>
            </div>
        </div>

        <div data-role="footer" data-theme="b" data-position="fixed">
            <h4>Uống là mê</h4>
        </div>

        <div data-role="panel" id="menu" data-display="overplay" data-position="left">
            <ul data-role="listview" data-inset="true">
                <li data-icon="home"><a href="/ban" data-transition="pop">Bàn</a></li>
                <li data-icon="grid"><a href="/sanpham" data-transition="pop">Sản phẩm</a></li>
                <li data-icon="video"><a href="#page2" data-transition="pop">Videos</a></li>
                <li data-icon="audio"><a href="#page3" data-transition="flip">Audio</a></li>
                <li data-icon="gear"><a href="#">Setting</a></li>
            </ul>
        </div>

    </div>

    
</body>
</html>